<div id="home">
  <div class="search col-md-6 col-md-offset-3">
    <h4>Matt and Vik's Movie Finder</h4>
    <form name="movieSearchForm">
      <div class="form-group" ng-class="{ 'has-error': movieSearchForm.movieTitle.$invalid && movieSearchForm.movieTitle.$dirty }">
        <input class="form-control" type="text" name="movieTitle" ng-model="query.title" placeholder="Enter the name of a movie!" required />
      </div>
      <button class="btn btn-primary" ng-click="search()">Find Movie</button>
    </form>
  </div>
  <div class="results col-md-6 col-md-offset-3" ng-if="movie" style="margin-top: 20px; margin-bottom: 50px;">
    <img ng-src="{{movie.Poster}}" style="display: block; margin: 0 auto 10px auto;">
    <div class="clearfix row">
      <div class="form-group col-md-6">
        <label>Title</label>
        <input type="Text" class="form-control" ng-model="movie.Title" />
      </div>
      <div class="form-group col-md-6">
        <label>Year</label>
        <input type="Text" class="form-control" ng-model="movie.Year" />
      </div>
    </div>
    <div class="clearfix row">
      <div class="form-group col-md-6">
        <label>Rating</label>
        <input type="Text" class="form-control" ng-model="movie.Rated" />
      </div>
      <div class="form-group col-md-6">
        <label>Release Date</label>
        <input type="Text" class="form-control" ng-model="movie.Released" />
      </div>
    </div>
    <div class="clearfix row">
      <div class="form-group col-md-6">
        <label>Runtime</label>
        <input type="Text" class="form-control" ng-model="movie.Runtime" />
      </div>
      <div class="form-group col-md-6">
        <label>Director</label>
        <input type="Text" class="form-control" ng-model="movie.Director" />
      </div>
    </div>
    <div class="form-group">
      <label>Genres</label>
      <input type="Text" class="form-control" ng-model="movie.Genre" />
    </div>
    <div class="form-group">
      <label>Actors</label>
      <input type="Text" class="form-control" ng-model="movie.Actors" readonly />
    </div>
    <div class="clearfix row">
      <div class="form-group col-md-6">
        <label>IMDb Rating</label>
        <input type="Text" class="form-control" ng-model="movie.imdbRating"  />
      </div>
      <div class="form-group col-md-6">
        <label>IMDb Votes</label>
        <input type="Text" class="form-control" ng-model="movie.imdbVotes"  />
      </div>
    </div>
    <!-- <div class="form-group">
      <label>Plot</label>
      <textarea style="overflow-y: scroll; height: 150px;" type="Text" class="form-control" ng-model="movie.Plot"  />
    </div> -->
  </div>
  <div ng-if="movie" style="padding-top: 39px;">
    <button class="btn btn-info" ng-click="update()">Update</button>
    <button class="btn btn-danger" ng-click="delete()">Delete</button>
  </div>
</div>
